@media screen and (min-width: 1000px) {

    // Header Styling
    .navbar-nonindex {
        position: absolute;
        max-width: 100%;
        width: 100%;
        z-index: 1;

        #checkbox2, .toggle{
            display: none;
        }
        
    }
    
 
    .main-nav {
        height: 10vh;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    
        li{
            align-self: center;
            width: 100%;
            opacity: 1;
            visibility: visible; 
        
            a{
                width: 100%;
                text-align: center;
                text-decoration: none;
                align-self: center;
                align-content: center;
                font-size: 14px;
                padding: 2% 20px;
                transition: none;
            }
        }
    }
     
    .second {
        background: none;
            
        li{
    
            a{
                color: rgb(83, 83, 83);
                font-size: 2vw;
            }
    
            a:hover{
                background: rgba(54, 40, 40, 0.4);
                border-radius: 5px;
            }
        }
    }

    // Index Page Styling
    .content-wrapper{
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
    
        #indeximg{
            width: 100%;
        }
    }

    .name{
        font-size: 50px;
    }

    .job_title{
        font-size: 30px;
    }

    .contact-wrapper{

        .social{
    
            img{
                width: 70px;
            }
        }
    
    }

    // About Me Page Styling
    .about-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80vw;
        margin: 0 auto;
        position: relative;
    }

    // Work Page Styling
    .photo{
        margin: 10px;
        width: 20vw;
    }

    .work-wrapper{
        flex-direction: row;
        flex-flow: row wrap;
    }

    .work-images{
        width: 50vw;
        margin: 1vw;
    }

    .work-images2{
        order: -1;
    }

    //Blog Page Styling
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0 1.5rem;
    }

    .news-card{
        max-width: 40%;
    }
        
    .subtitle{
        font-size: 40px;
        position: relative;
        display: inline-block;
        margin-top: 6vh;
        padding-top: 3rem;
    }
  
    // Blog Postings
    .blog-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        font-weight: bold;
        box-shadow: 1px 2px 10px;
        max-width: 60vw;


        .blog-headerwrap {
            margin: 1rem;
            width: 80%;
            display: flex;
            justify-content: space-between;
        }
    
        .blog-header {
            position: relative;
            margin: 1.5rem;
            
            .blog-title {
                font-size: 1.8rem;
            }
    
            .blog-date, .blog-author {
                font-size: 0.7rem;
            }
        }
    
        .blog-photo{
            width: 300px;
        }
    
        
        .blog-content{
            font-size: 0.8rem;
            padding: 1rem 3rem;
            position: relative;
            width: auto;            
    
            p {
                font-size: 0.8rem;
            }
        }
    }

    // Contact Me Page
    .contact-wrap{

        .contact-form{
            display: flex;
            justify-content: center;
            width: 50%;
            margin-top: 6px;
    
            input[type=submit] {
                width: 50%;
                margin-top: 6px;
            }
        } 
    }

    
}