
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --overlay-color: rgba(255, 255, 255, 0.3);
}

a{
    text-decoration: none;
}

// Body Styling
body{
    width: 100vw;
    height: 100vh;
    // display: flex;
    // flex-direction: column;
    min-height: 100vh;
    background-color: beige;
    font-family: 'Poppins', sans-serif;
}


// Header Styling
// .navbar{
//     position: absolute;
//     width: 100vw;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     z-index: 1;
// }

.navbar-nonindex {
    max-width: 100%;
    width: 100%;
    font-family: 'Droid Sans', sans-serif;
}

#checkbox2{
    display: none;
}

.toggle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: #595959;
    background: #dbdbdb;
    transition: all .1s linear;
}

.toggle:hover {
    background: #cecece;
}

#checkbox2:checked + label .second li {
    opacity: 1;
    visibility: visible;
    transition: all .7s linear;
}

#checkbox2:checked + label .second {
    height: 200px;
}

.main-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0px;
    transition: height .3s linear;

    li{
        display: flex;
        /* magic */
        align-self: center;
        width: 100%;
        opacity: 0;
        visibility: hidden; 
    
        a{
            width: 100%;
            text-align: center;
            text-decoration: none;
            align-self: center;
            align-content: center;
            font-size: 14px;
            padding: 16px 20px;
            transition: background .2s linear;
        }
    }
}
 
.second {
    background: #51535f;

    li{

        a{
            color: #fff;
        }

        a:hover{
            background: #5d5f6d;
        }
    }
}
  

// Main Styling
main{
    width: 100vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul{
    list-style-type: none;
}

// Footer Styling for Copyright
footer{
    margin-top: 5vh;
    position: relative;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: cadetblue;
}

.copyright{
    padding: 1em;
    text-align: center;
}

// Home Page - Imagine styling
.content-wrapper{
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;

    #indeximg{
        overflow: hidden;
        display: flex;
    }
}

.text-wrapper{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    text-align: center;
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; /*current hidden*/
    transition: opacity 0.3s;
}

.text-wrapper:hover{
    opacity: 1;
}

.name{
    font-size: 5vh;
    font-weight: bold;
}

.job_title{
    font-size: 3vh;
    font-weight: bold;
    margin-top: 0.25em;
}

// Home Page - Contact Section Styling

.contact-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    position: relative;
}

.social img{
    width: 20px;
}

// About Me Page Styling
.subtitle{
    font-size: 3.5vh;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
}

.photo{
    padding: 2em;
    width: 60vw;
}

.about-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    position: relative;
}

// Work Page Styling
.work-wrapper{
    padding: 1%;
    width: 80vw;
    // height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-images{
    font-size: 2vw;
    margin: 3vw;
    text-align: center;
}

.photo2{
    width: 50px;
}

// Blog Page Styling
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0.2rem;
}

.news-card{
    margin: 20px;
    width: 320px;
    height: 450px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px .8rem 1rem rgba(0, 0, 0, 0.5);
}

.news-img {
    height: 25vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.img-responsive{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
    transition: transform 1s;
}

.news-card:hover .img-responsive{
    transform: scale(1.5);
}

.date{
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    
    i{
        margin-right: 1rem;
    }
}

.news-content{
    font-size: 0.8rem;
    padding: 1rem 3rem;
    position: relative;
}

.title{
    font-size: 2rem;
    line-height: 1;
}

.subber{
    font-size: 1rem;
    text-transform: uppercase;
    color: pink;
    margin: 1rem 0 1.5rem 0;
}

.description{
    font-size: 100%;
    position: relative;
}

.cta{
    height: 5vh;
    padding: 0.5rem 3rem;
    position: relative;
}

// imports
@import 'desktop';