
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: beige;
    --secondary-color: #595959;
    --third-color: #cecece;
    --overlay-color: rgba(255, 255, 255, 0.3);
}

a{
    text-decoration: none;
}

// Body Styling
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}

// Header Styling
.navbar-nonindex {
    max-width: 100%;
}

#checkbox2{
    display: none;
}

.toggle { // Toggle used to switch navigation bar from bar to hamburger menu
    clear: both;
    display: block;
    text-align: center;
    cursor: pointer;
    width: 100%;
    color: var(--secondary-color);
    background: var(--primary-color);
    transition: all .1s linear;
}

.toggle:hover {
    background: var(--third-color);
}

#checkbox2:checked + label .second li {
    opacity: 1;
    visibility: visible;
    transition: all .7s linear;
}

#checkbox2:checked + label .second {
    height: 275px;
}

// Actual navigation bar styling
.main-nav {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: height .3s linear;

    li{
        display: flex;
        align-self: center;
        width: 100%;
        opacity: 0;
        height: 0;
        visibility: hidden; 
    
        a{
            font-size: 14px;
            font-weight: bold;
            width: 100%;
            text-align: center;
            text-decoration: none;
            align-self: center;
            align-content: center;
            transition: background .2s linear;
        }
    }
}
 
.second {
    background: var(--secondary-color);

    li{

        a{
            color: var(--third-color);
        }

        a:hover{
            background: var(--overlay-color);
        }
    }
}
  
// Main Styling
main{
    width: 100vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul{
    list-style-type: none;
}

// Footer Styling for Copyright
footer{
    margin-top: 5vh;
    position: relative;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: cadetblue;
}

.copyright{
    padding: 1em;
    text-align: center;
}

// Home Page - Imagine styling
.content-wrapper{
    width: 100vw;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
}

#indeximg{
    width: 100%;
    overflow: hidden;
    display: flex;
}

.text-wrapper{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    text-align: center;
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0; /*current hidden*/
    transition: opacity 0.3s;
}

.text-wrapper:hover{
    opacity: 1;
}

.name{
    font-size: 5vh;
    font-weight: bold;
}

.job_title{
    font-size: 3vh;
    font-weight: bold;
    margin-top: 0.25em;
}

// Home Page - Contact Section Styling

.contact-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    position: relative;
}

.social img{
    width: 20px;
}

// About Me Page Styling
.subtitle{
    font-size: 20px;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
}

.photo{
    margin: 10%;
    width: 300px;
}

.about-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    position: relative;
    font-weight: bold;

    .info {
        font-size: 1rem;
        padding: 0.5rem;
    }
}

// Work Page Styling
.work-wrapper{
    padding: 1%;
    width: 80vw;
    // height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .work-images{
        font-size: 1rem;
        font-weight: bold;
        margin: 3vw;
        text-align: center;
    }

}

.photo2{
    width: 50px;
}

// Blog Page Styling
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0.2rem;
}

.news-card{
    margin: 20px;
    width: 320px;
    height: 450px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px .8rem 1rem rgba(0, 0, 0, 0.5);
}

.news-img {
    height: 25vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.img-responsive{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
    transition: transform 1s;
}

.news-card:hover .img-responsive{
    transform: scale(1.5);
}

.date{
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    
    i{
        margin-right: 1rem;
    }
}

.news-content{
    font-size: 0.8rem;
    padding: 1rem 3rem;
    position: relative;
}

.title{
    font-size: 2rem;
    line-height: 1;
}

.subber{
    font-size: 1rem;
    text-transform: uppercase;
    color: pink;
    margin: 1rem 0 1.5rem 0;
}

.description{
    font-size: 100%;
    position: relative;
}

.cta{
    height: 5vh;
    padding: 0.5rem 3rem;
    position: relative;
}

//Blog Posts
.blog-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 1px 2px 10px;
    max-width: 80vw;

    .blog-header {
        position: relative;
        margin: 1.5rem;
        
        .blog-title {
            font-size: 1.8rem;
        }

        .blog-date, .blog-author {
            font-size: 0.7rem;
        }
    }

    .blog-photo{
        width: 300px;
    }

    
    .blog-content{
        font-size: 0.8rem;
        padding: 1rem 3rem;
        position: relative;

        p {
            font-size: 0.8rem;
        }
    }
}

// Contact Page Styling
/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    width: 100%;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
/* Style the container/contact section */
.contact-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0.2rem;
    border-radius: 5px;
}
  
/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 100%;
    margin-top: 0;
    padding: 20px;
}
  

// import for the desktop @media settings
@import 'desktop';