* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: beige;
  --secondary-color: #595959;
  --third-color: #cecece;
  --overlay-color: rgba(255, 255, 255, 0.3);
  --font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--primary-color);
  font-family: var(--font-family);
}

.navbar-nonindex {
  max-width: 100%;
}

#checkbox2 {
  display: none;
}

.toggle {
  clear: both;
  display: block;
  text-align: center;
  cursor: pointer;
  width: 100%;
  color: var(--secondary-color);
  background: var(--primary-color);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.toggle:hover {
  background: var(--third-color);
}

#checkbox2:checked + label .second li {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .7s linear;
  transition: all .7s linear;
}

#checkbox2:checked + label .second {
  height: 275px;
}

.main-nav {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: height .3s linear;
  transition: height .3s linear;
}

.main-nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  opacity: 0;
  height: 0;
  visibility: hidden;
}

.main-nav li a {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
}

.second {
  background: var(--secondary-color);
}

.second li a {
  color: var(--third-color);
}

.second li a:hover {
  background: var(--overlay-color);
}

main {
  width: 100vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  list-style-type: none;
}

footer {
  margin-top: 5vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  bottom: 0;
  width: 100vw;
  background: cadetblue;
}

.copyright {
  padding: 1em;
  text-align: center;
}

.content-wrapper {
  width: 100vw;
  height: 80%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#indeximg {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  text-align: center;
  color: beige;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  /*current hidden*/
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.text-wrapper:hover {
  opacity: 1;
}

.name {
  font-size: 5vh;
  font-weight: bold;
}

.job_title {
  font-size: 3vh;
  font-weight: bold;
  margin-top: 0.25em;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
}

.contact-wrapper .social {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-wrapper .social img {
  width: 30px;
}

.subtitle {
  font-size: 20px;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
}

.photo {
  margin: 10%;
  width: 300px;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  margin: 0 auto;
  position: relative;
  font-weight: bold;
}

.about-wrapper .info {
  font-size: 1rem;
  padding: 0.5rem;
}

.work-wrapper {
  padding: 1%;
  width: 80vw;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-wrapper .work-images {
  font-size: 1rem;
  font-weight: bold;
  margin: 3vw;
  text-align: center;
}

.photo2 {
  width: 50px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.2rem;
}

.news-card {
  margin: 20px;
  width: 320px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 2px 0.8rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 2px 0.8rem 1rem rgba(0, 0, 0, 0.5);
}

.news-img {
  height: 25vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.img-responsive {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.news-card:hover .img-responsive {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.date {
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

.date i {
  margin-right: 1rem;
}

.news-content {
  font-size: 0.8rem;
  padding: 1rem 3rem;
  position: relative;
}

.title {
  font-size: 2rem;
  line-height: 1;
}

.subber {
  font-size: 1rem;
  text-transform: uppercase;
  color: pink;
  margin: 1rem 0 1.5rem 0;
}

.description {
  font-size: 100%;
  position: relative;
}

.cta {
  height: 5vh;
  padding: 0.5rem 3rem;
  position: relative;
}

.blog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  -webkit-box-shadow: 1px 2px 10px;
          box-shadow: 1px 2px 10px;
  max-width: 80vw;
}

.blog-wrapper .blog-headerwrap .blog-header {
  position: relative;
  margin: 1.5rem;
}

.blog-wrapper .blog-headerwrap .blog-header .blog-title {
  font-size: 1.8rem;
}

.blog-wrapper .blog-headerwrap .blog-header .blog-date, .blog-wrapper .blog-headerwrap .blog-header .blog-author {
  font-size: 0.7rem;
}

.blog-wrapper .blog-headerwrap .blog-photo {
  width: 300px;
}

.blog-wrapper .blog-content {
  font-size: 0.8rem;
  padding: 1rem 3rem;
  position: relative;
}

.blog-wrapper .blog-content p {
  font-size: 0.8rem;
}

.contact-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.2rem;
  border-radius: 5px;
}

.contact-form {
  width: 100vw;
  padding: 20px;
}

.contact-form input[type=text], .contact-form select, .contact-form textarea {
  width: 100%;
  padding: 1%;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid black;
  background: none;
  margin-top: 1vh;
  margin-bottom: 12px;
  resize: vertical;
}

.contact-form input[type=submit] {
  background-color: var(--secondary-color);
  color: var(--third-color);
  width: 100%;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.contact-form input[type=submit]:hover {
  background-color: #2e3a2e;
}

.contact-form .subject {
  font-family: var(--font-family);
}

@media screen and (min-width: 1000px) {
  .navbar-nonindex {
    position: absolute;
    max-width: 100%;
    width: 100%;
    z-index: 1;
  }
  .navbar-nonindex #checkbox2, .navbar-nonindex .toggle {
    display: none;
  }
  .main-nav {
    height: 10vh;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
  }
  .main-nav li {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
  .main-nav li a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-flex-line-pack: center;
        align-content: center;
    font-size: 14px;
    padding: 2% 20px;
    -webkit-transition: none;
    transition: none;
  }
  .second {
    background: none;
  }
  .second li a {
    color: #535353;
    font-size: 2vw;
  }
  .second li a:hover {
    background: rgba(54, 40, 40, 0.4);
    border-radius: 5px;
  }
  .content-wrapper {
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-wrapper #indeximg {
    width: 100%;
  }
  .name {
    font-size: 50px;
  }
  .job_title {
    font-size: 30px;
  }
  .contact-wrapper .social img {
    width: 70px;
  }
  .about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80vw;
    margin: 0 auto;
    position: relative;
  }
  .photo {
    margin: 10px;
    width: 20vw;
  }
  .work-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
  }
  .work-images {
    width: 50vw;
    margin: 1vw;
  }
  .work-images2 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 1.5rem;
  }
  .news-card {
    max-width: 40%;
  }
  .subtitle {
    font-size: 40px;
    position: relative;
    display: inline-block;
    margin-top: 6vh;
    padding-top: 3rem;
  }
  .blog-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    font-weight: bold;
    -webkit-box-shadow: 1px 2px 10px;
            box-shadow: 1px 2px 10px;
    max-width: 60vw;
  }
  .blog-wrapper .blog-headerwrap {
    margin: 1rem;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blog-wrapper .blog-header {
    position: relative;
    margin: 1.5rem;
  }
  .blog-wrapper .blog-header .blog-title {
    font-size: 1.8rem;
  }
  .blog-wrapper .blog-header .blog-date, .blog-wrapper .blog-header .blog-author {
    font-size: 0.7rem;
  }
  .blog-wrapper .blog-photo {
    width: 300px;
  }
  .blog-wrapper .blog-content {
    font-size: 0.8rem;
    padding: 1rem 3rem;
    position: relative;
    width: auto;
  }
  .blog-wrapper .blog-content p {
    font-size: 0.8rem;
  }
  .contact-wrap .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    margin-top: 6px;
  }
  .contact-wrap .contact-form input[type=submit] {
    width: 50%;
    margin-top: 6px;
  }
}
/*# sourceMappingURL=style.css.map */