* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --overlay-color: rgba(255, 255, 255, 0.3);
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  background-color: beige;
  font-family: 'Poppins', sans-serif;
}

.navbar-nonindex {
  max-width: 100%;
  width: 100%;
  font-family: 'Droid Sans', sans-serif;
}

#checkbox2 {
  display: none;
}

.toggle {
  clear: both;
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-size: 18px;
  color: #595959;
  background: #dbdbdb;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.toggle:hover {
  background: #cecece;
}

#checkbox2:checked + label .second li {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .7s linear;
  transition: all .7s linear;
}

#checkbox2:checked + label .second {
  height: 200px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 0px;
  -webkit-transition: height .3s linear;
  transition: height .3s linear;
}

.main-nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* magic */
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.main-nav li a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 14px;
  padding: 16px 20px;
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
}

.second {
  background: #51535f;
}

.second li a {
  color: #fff;
}

.second li a:hover {
  background: #5d5f6d;
}

main {
  width: 100vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

ul {
  list-style-type: none;
}

footer {
  margin-top: 5vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  bottom: 0;
  width: 100vw;
  background: cadetblue;
}

.copyright {
  padding: 1em;
  text-align: center;
}

.content-wrapper {
  height: 80vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-wrapper #indeximg {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  text-align: center;
  color: beige;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  /*current hidden*/
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.text-wrapper:hover {
  opacity: 1;
}

.name {
  font-size: 5vh;
  font-weight: bold;
}

.job_title {
  font-size: 3vh;
  font-weight: bold;
  margin-top: 0.25em;
}

.contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  margin: 0 auto;
  position: relative;
}

.social img {
  width: 20px;
}

.subtitle {
  font-size: 3.5vh;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
}

.photo {
  padding: 2em;
  width: 60vw;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  margin: 0 auto;
  position: relative;
}

.work-wrapper {
  padding: 1%;
  width: 80vw;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-images {
  font-size: 2vw;
  margin: 3vw;
  text-align: center;
}

.photo2 {
  width: 50px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0.2rem;
}

.news-card {
  margin: 20px;
  width: 320px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  -webkit-box-shadow: 2px 0.8rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 2px 0.8rem 1rem rgba(0, 0, 0, 0.5);
}

.news-img {
  height: 25vh;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.img-responsive {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.news-card:hover .img-responsive {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.date {
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

.date i {
  margin-right: 1rem;
}

.news-content {
  font-size: 0.8rem;
  padding: 1rem 3rem;
  position: relative;
}

.title {
  font-size: 2rem;
  line-height: 1;
}

.subber {
  font-size: 1rem;
  text-transform: uppercase;
  color: pink;
  margin: 1rem 0 1.5rem 0;
}

.description {
  font-size: 100%;
  position: relative;
}

.cta {
  height: 5vh;
  padding: 0.5rem 3rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .navbar-nonindex {
    max-width: 100%;
    width: 100%;
  }
  #checkbox2, .toggle {
    display: none;
  }
  .main-nav {
    height: 50px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
  }
  .main-nav li {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
  .main-nav li a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-flex-line-pack: center;
        align-content: center;
    font-size: 14px;
    padding: 16px 20px;
    -webkit-transition: none;
    transition: none;
  }
  .second {
    background: #51535f;
  }
  .second li a {
    color: #fff;
  }
  .second li a:hover {
    background: #5d5f6d;
  }
  .content-wrapper {
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-wrapper #indeximg {
    width: 100%;
  }
  .about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80vw;
    margin: 0 auto;
    position: relative;
  }
  .photo {
    width: 20vw;
  }
  .work-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
  }
  .work-images {
    width: 50vw;
    margin: 1vw;
  }
  .work-images2 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 1.5rem;
  }
  .news-card {
    max-width: 40%;
  }
  .subtitle {
    padding: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */